/* Variables */
@nice-blue: #5B83AD;
@light-blue: @nice-blue + #111;

#header { color: @light-blue; }

/* Mixins */
.bordered {
  border-top: dotted 1px black;
  border-bottom: solid 2px black;
}

#menu a {
  color: #111;
  .bordered;
}

.post a {
  color: red;
  .bordered;
}

/* Nested rules */
#header {
  color: black;

  .navigation {
    font-size: 12px;
  }
  .logo {
    width: 300px;
    :hover { text-decoration: none }
  }
}

/* Operations */
@base: 5%;
@filler: @base * 2;
@other: @base + @filler;

.operations {
  color: #888 / 4;
  background-color: @base-color + #111;
  height: 100% / 2 + @filler;
}

/* Namespaces & Accessors */
#bundle {
  .button {
    display: block;
    border: 1px solid black;
    background-color: grey;
    :hover { background-color: white }
  }
  .tab {
  	float: left;
  }
  .citation {
  	display: none;
  }
}

#header a {
  color: orange;
  #bundle > .button;
}

#defaults {
  @width: 960px;
  @color: black;
}

.article { color: #294366; }

.comment {
  width: #defaults[@width];
  color: .article['color']; 
}


/* Scope */
@var: red;

#page {
  @var: white;
  #header {
    color: @var; // white
  }
}

/* Comments */
/* One hell of a comment */
@var: red;

// Get in line!
@var: white;


/* Importing */
@import "library";
@import "typo.css";
