/*
	@theme LESS Placeholder
	@placeholder less
*/

@base {
	color: #000;
	background-color: #fff;
}

less {
	spell-check: disabled;
}

less.selector, variable.definition.style.less > property-name {
	color: #3a77bf;
}

less > property-name, mixin.less > property-name {
	color: #d4430d;
}

less > property-assigner, mixin.less > property-assigner {
	color: #3a77bf;
}

less > property-value, mixin.less > property-value {
	color: #43a202;
}

variable.style.less > property-name {
	color: #43a202;
}
punctuation.definition.variable.less {
	color: #3a77bf;
}
variable.definition.style.less {
/* 	color: #ff0000; */
}

punctuation.separator.key-value.less {
	color: #000000;
}
punctuation.terminator.rule.less {
	color: #000000;
}

less.at-rule string {
/* 	color: #474747; */
}

keyword.important.less {
	font-weight: bold;
	color: #6700b9;
	width: 12px;
}


mixin.definition.less {
	color: #3a77bf;
}
mixin.arguments {
	color: #000000;
}
mixin.less {
/* 	color: #d6cb58; */
}

string.quoted.double,string.quoted.single {
	color: #da65bb;
	background: #ffffea;
}