/*
	@theme LESS Placeholder
	@placeholder less
*/

@base {
	color: #000;
	background-color: #fff;
}

less {
	spell-check: disabled;
}

variable.definition.name {
	color: #a24dba;
}
variable.definition.value {
	color: #000000;
}
variable.reference {
	color: #800000;
}
variable.referenceString {
	font-weight: bold;	
}

selector.definition.name {
	color: #000000;
}
selector.definition.value {
	color: #0000FF;
}
selector.reference.name {
	color: #4881C3;
}
selector.reference.arguments {
	
}

mixin.definition.name {
	color: #ff0000;
}
mixin.reference.name {
	color: #ff0000;
}

arguments.name {
	color: #00ff00;
}
arguments.default {
	
}

function.name {
	color: #00FFFF;
}

property.name {
	color: #005ad3;
}

literal {
	
}
literal.string {
	color: #f854a0;
	background: #fffee9;
}
literal.numeric {
	color: #ef4900;
}
literal.color {
	color: #ec5277;
}
literal.definition {
	color: #84a965;
}

comments {
	color: #808080;
}
